[submodule "dfxml_python"]
	path = dfxml_python
	url = https://github.com/dfxml-working-group/dfxml_python
[submodule "avdecrypt"]
	path = avdecrypt
	url = https://faui1-gitlab.cs.fau.de/gaston.pugliese/avdecrypt
